<!DOCTYPE html>
<html>
<head>
    <title>AI Interview Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="navbar">
    <div class="logo">🤖 AI Interview Analyzer</div>

    <div class="auth-buttons">
    <a href="/login" class="btn">Login</a>
    <a href="/register" class="btn">Register</a>
</div>

<div class="hero">
    <h1>Practice. Analyze. Improve.</h1>
    <p>AI-Powered Interview Preparation Platform</p>
    <a href="/login" class="btn">Get Started</a>
</div>

<div class="feature-grid">

   <a href="/interview-type" class="card">
    <h2>🎤 Mock Interviews</h2>
    <p>Practice technical and HR interviews.</p>
</a>

<a href="/reports" class="card">
    <h2>📊 Performance Analysis</h2>
    <p>Track scores and improvement.</p>
</a>

<a href="/resume" class="card">
    <h2>📄 Resume Evaluation</h2>
    <p>Upload resumes and get AI feedback.</p>
</a>

</div>

</div>

</body>
</html>