<!DOCTYPE html>
<html>
<head>

<title>Manage Users</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>Manage Users</h1>

<table border="1" width="100%">

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Action</th>
</tr>

<tr>
<td>1</td>
<td>Dhruva</td>
<td>dhruva@email.com</td>
<td>
<button>Edit</button>
<button>Delete</button>
</td>
</tr>

<tr>
<td>2</td>
<td>Rahul</td>
<td>rahul@email.com</td>
<td>
<button>Edit</button>
<button>Delete</button>
</td>
</tr>

</table>

</div>

</body>
</html>